* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url(./images/producebanner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(255, 255, 255, 0.6);
}

nav {
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

h2 {
    color: darkgreen;
    font-weight: 600px;
    font-size: 50px;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: darkgreen;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* search bar */
.materials {
    margin-bottom: 30px;
}
  
.resources input {
    background-color: white;
    border: none;
    width: 100%;
    padding: 5px;
}
  
.container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    width: 500px;
    margin: 10px auto;
}
  
.search_wrap .search_box {
    position: relative;
    display: flex;
    width: 300px;
    height: 25px;
}
  
.search_wrap .search_box .input {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 15px;
}
  
.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    background: darkgreen;
    opacity: 0.8;
    z-index: 1;
    cursor: pointer;
}
  
.search_wrap .search_box .btn:hover {
    background: seagreen;
}
  
.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 15px;
}


/* products */
.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.container img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

.container a {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

.image {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgreen;
    transition: all 0.3s ease-in-out;
    color: white;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8,
.image:hover .cart9,
.image:hover .cart10 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/* -------------CART PAGE-------------- */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 25px;
    color: darkgreen;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.products img {
    width: 50px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid seagreen;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    /* border-bottom: 1px solid seagreen; */
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    /* border-bottom: 1px solid seagreen; */
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    /* border-bottom: 1px solid seagreen; */
    display: flex;
    align-items: center;
}

.products ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid seagreen;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

@media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }

    .sm-hide {
        display: none;;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}